/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/* ------------------------- */

body {
    color: lightgray;
}

a {
    color: lightblue;
}

video {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.slide-content>h3 {
    margin-bottom: 0.5em;
}

pre code {
    color: #efefef;
}

.progress-bar {
    background-color: lightgray;
}

.slide-content>p {
  height: 80%;
}

.slide-content img {
  display: block;
  margin: 0 auto;
  width: auto;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/* --- custom elements below --- */

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box>div {
    flex: auto;
}

.box>code {
    flex: auto;
}

.box>code:not(:last-child) {
    margin-right: 0.5em;
}

.box>ul {
    margin: 0;
    flex: auto;
}
